<section
  class="lg:pt-20 pt-10 pb-section-gap flex flex-col-reverse md:flex-row items-center gap-8"
  id="hero"
>
  <div class="flex-1 space-y-4">
    <h1
      class="md:font-headline-xl text-headline-xl md:text-headline-xl text-primary tracking-tighter text-4xl"
    >
      Hola, Soy Heymer
    </h1>
    <p class="font-body-lg text-body-lg text-muted-foreground max-w-125">
      <span class="text-gray-700 font-bold italic">Ingeniero de Sistemas </span> en
      formación y desarrollador <span class="text-gray-700 font-bold italic"
        >Full-Stack</span
      >. Apasionado por la tecnología y la creación de productos digitales.
    </p>
  </div>
  <div class="relative group">
    <img
      alt="HeymerDev"
      class="w-48 h-48 md:w-40 md:h-40 rounded-full object-cover border-4 border-surface shadow-lg ring-1 ring-border-subtle transition-transform duration-500 group-hover:scale-105"
      src="/me.PNG"
    />
  </div>
</section>
