<section class="mb-section-gap" id="experiencia">
  <h2 class="font-headline-md text-headline-md text-primary mb-8">
    Experiencia Laboral
  </h2>

  <div class="space-y-stack-gap"></div>
</section>
