---
const { name } = Astro.props;
---

<span
  class="px-4 py-1.5 bg-surface-container-low text-primary font-label-sm text-label-sm rounded-full border border-border-subtle hover:bg-surface-container transition-colors cursor-default"
>
  {name}
</span>
