---
import Navbar from "@/components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import About from "@/components/About.astro";
---

<Layout>
  <Navbar />
  <main class="max-w-container-max mx-auto px-margin-page pb-section-gap">
    <Hero />
    <About />
  </main>
</Layout>
