---
import Navbar from "@/components/views/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/views/Hero.astro";
import About from "@/components/views/About.astro";
import WorkExperience from "@/components/views/WorkExperience.astro";
import Education from "@/components/views/Education.astro";
import Skills from "@/components/views/Skills.astro";
---

<Layout>
  <Navbar />
  <main class="max-w-container-max mx-auto px-margin-page pb-section-gap">
    <Hero />
    <About />
    <WorkExperience />
    <Education />
    <Skills />
  </main>
</Layout>
