.aside-panel {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  transition: transform 300ms ease-in-out;
}
.aside-panel-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.aside-panel-text {
  height: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.aside-panel-text a {
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-not-active {
  transform: translateX(-150%);
}

.panel-active {
  transform: translateX(-50);
}

.aside-panel-title {
  height: 10vh;
}

.hamburger {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}

.hamburguer-dark {
  background-color: white;
}

.image-dark {
  background-color: white;
}

.custom-no-outline:focus {
  outline: none !important;
}
