---
import { navLinks } from "@/data/navLinks";
---

<nav
  class="flex items-center justify-between px-6 py-3 max-w-container-max mx-auto z-50 rounded-full sticky top-4 mt-4 bg-surface/80 backdrop-blur-md border border-border-subtle transition-all duration-300"
>
  <a
    class="font-headline-md text-headline-md text-primary font-extrabold tracking-tight"
    href="#"
  >
    HeymerDev
  </a>
  <div class="hidden md:flex items-center gap-6">
    {
      navLinks.map((navLink) => (
        <a
          class="font-label-md text-label-md text-muted-foreground hover:text-primary transition-colors duration-200 active:border-b-2 active:border-primary"
          href={navLink.path}
        >
          {navLink.name}
        </a>
      ))
    }
  </div>
  <a
    class="bg-primary text-on-primary px-4 py-2 rounded-full font-label-md text-label-md hover:opacity-80 transition-all active:scale-95"
    href="/src/assets/Heymer Meza Gutierrez CV-PDF.pdf"
    download
  >
    Descargar CV
  </a>
</nav>
